html {
    background-color: grey;
}

form {
    display: flex;
    margin: 0 auto;
    max-width: 80vw;
    margin-top: 70px;
    height: 800px;

}


.form-left {
    width: 50vw;
    background-color: white;
    border-radius: 20px 0 0 20px;
    padding: 30px;

}


.form-right {
    width: 50vw;
    background-color: burlywood;
    padding: 50px;
    border-radius: 0 20px 20px 0;
    padding: 30px;
}

select {
    height: 30px;
    width: 600px;
    background-color: inherit;
    border: 0;
    border-bottom: 1px grey solid;
    margin-top: 20px;
}

input {
    height: 30px;
    width: 600px;
    border: 0;
    border-bottom: 1px grey solid;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: inherit
}

label {    height: 30px;
    width: 600px;
    border: 0;
    border-bottom: 1px grey solid;
    padding-top: 20px;
    background-color: inherit}